{{!
    Template for output of error messages

    * @package moodle-registration
    * @copyright 2019 Richard Jones https://richardnz.net
    * @license Creative Commons CC-BY 3.0 NZ

}}

<div class="row">
  <p class="{{class}}">ERROR: {{body}}</p>
  <p >Date/time: {{date}}</p>
</div>