{{!
    Template footer - finishes off a page

    * @package moodle-registration
    * @copyright 2019 Richard Jones https://richardnz.net
    * @license Creative Commons CC-BY 3.0 NZ

}}
<div class="footer">
  <p class="bg-dark text-white">&copy; {{copyright}}</p>
</div>
</body>
</html>